.menu-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;  
    box-shadow: 2px 0px 5px rgb(182, 182, 182);
    
}
.image-container{
    margin-bottom: 2em;
}

img{
    width: 100%;
    height: auto;
}

.menu-item {
    display: block;
    width: 100%;
    padding: 0.7em 0;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.menu-item-label{
    width: 70%;
}
.menu-item-icon{
    width: 30%;
    text-align: center;
}
.menu-item-active {
    background-color: rgb(197, 197, 197);
}
