/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    caret-color: rgba(0,0,0,0);}
*,::after,::before{box-sizing:border-box;}


.label-container {
    color: black;
    background-color: rgb(197, 197, 197);
    padding: 1em;
    box-shadow: 0 2px 3px rgb(165, 165, 165);
}

.content-container{
    padding: 2em 2em;
}